{{define "base"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" .}} - Forum</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1><a href="/">Forum</a></h1>
    </header>
    <nav>
        <div>
        <a href="/">Home</a>
        {{if eq .AuthenticatedUser true}}
        <a href="/post/create">Create Post</a>
        {{end}}
        </div> 
        <div>
        {{if eq .AuthenticatedUser true}}
        <form action="user/logout" method="POST">
            <button>Logout</button>
        </form>
        {{else}}
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        {{end}}
    </div>
    </nav>
    <section>
        {{with .Flash}}
        <div class="flash">{{.}}</div>
        {{end}}
        {{template "body" . }}
    </section>
    {{template "footer" .}}
</body>
</html>
{{end}}