{{template "base" .}}

{{define "title"}}Create a New Post{{end}}

{{define "body"}}

<form action="/post/create" method="POST">
    {{with .Form}}
    <div>
        <label>Title:</label>
        {{with .Errors.Get "title"}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value='{{.Get "title"}}'>
       
    </div>
    <div>
        <label>Content:</label>
        {{with .Errors.Get "content"}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea cols="20" wrap="hard" name="content">{{.Get "content"}}</textarea>
       
    </div>
    <div>
        <label>Categories:</label>
        {{with .Errors.Get "categories"}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="categories" placeholder="gRPC, REST API (max 5 tags)">

    </div>
    <div>
        <input type="submit" value="Publish post">
    </div>
    {{end}}
</form>

{{end}}