{{template "base" .}}

{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "body"}}

{{with .Post}}
<div class="post">
    <div class="metadata">
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <p class="area" style="word-wrap:break-word;">{{.Content}}</p>
    <div class="eachtag">
    {{range .Categories}}
    <p class="Icon">{{.}}</p>
    {{end}}
    </div>
    <div class="metadata">
        <p>Created: {{.Created}}</p>
    </div>
    <div class="evaluate">
    <form method="POST" action="/post/vote?id={{.ID}}&vote=1">
            <button class="btn" type="submit" name="vote" value="1">Like</button>
            {{.Like}}
    </form>
        <form method="POST" action="/post/vote?id={{.ID}}&vote=-1">
             <button class="btn" type="submit" name="vote" value="-1">Dislike</button>
            {{.Dislike}}
    </form>
    </div>
</div>

<div class="posted_comments">
    {{range .Comments}}
        <hr>
        <div class="content">
            Author: {{.Nickname}}
            <br>
            {{.Content}}</div>
        <br>
        <div class="evaluate">
            <form method="POST" action="/post/votecomment?id={{.ID}}&vote=1">
                    <button class="btn" type="submit" name="vote" value="1">Like</button>
                    {{.Like}}
            </form>
                <form method="POST" action="/post/votecomment?id={{.ID}}&vote=-1">
                     <button class="btn" type="submit" name="vote" value="-1">Dislike</button>
                    {{.Dislike}}
            </form>
            </div>
    {{end}}
</div>
<div class="add_comment">
    <form method="POST" action="/post/createcomment?id={{.ID}}">
        <textarea  name="comment" 
        placeholder="Type your comment here" required></textarea>
        <br> 
        <input type="submit" value="Add comment">
    </form>
</div>
{{end}}
{{end}}